<DocsDemo as |demo|>
  <demo.example @name="app-wide-class-settings.hbs">
    <div data-test-id="app-wide-class-setting">
      <ChangesetWebform @formSchema={{this.formSchema}} />
    </div>
  </demo.example>
  <demo.snippet
    @name="app-wide-classes.js"
    @label="services/ember-changeset-webforms.js"
    @language="javascript"
  />
  <demo.snippet
    @name="app-wide-class-settings.js"
    @label="component js"
    @language="javascript"
  />
  <demo.snippet
    @name="app-wide-class-settings.hbs"
    @label="template"
    @language="htmlbars"
  />

</DocsDemo>