<DocsDemo as |demo|>
  <demo.example @name="field-methods-example-4.hbs" data-test-id="example-4">
    <div class="border rounded p-2 mb-4 bg-light">
      <b class="mb-2">These buttons are outside of the ChangesetWebform
        component</b>
      <div class="d-flex mt-2">
        <button
          data-test-id="update-name-field"
          class="btn btn-primary me-2"
          type="button"
          {{on "click" this.updateNameField}}
        >Update value of name field</button>

      </div>
    </div>
    <ChangesetWebform
      @formSchema={{this.formSchema}}
      @afterGenerateChangesetWebform={{this.afterGenerateChangesetWebform}}
    />
  </demo.example>
  <demo.snippet
    @name="field-methods-example-4.js"
    @label="component js"
    @language="javascript"
  />
  <demo.snippet
    @name="field-methods-example-4.hbs"
    @label="template"
    @language="htmlbars"
  />
</DocsDemo>