<DocsDemo as |demo|>
  <demo.example @name="omitted-fields-example-2.hbs">
    <div data-test-id="omitted-fields-example-2">
      <ChangesetWebform
        @formSchema={{this.formSchema}}
        @afterFieldRemoved={{this.afterFieldRemoved}}
        @onFieldValueChange={{this.onFieldValueChange}}
        @dynamicIncludeExcludeConditions={{this.dynamicIncludeExcludeConditions}}
      />
      {{#if this.changesetIsValid}}
        <button class="btn btn-outline-primary">Next</button>
      {{/if}}
    </div>
  </demo.example>
  <demo.snippet
    @name="omitted-fields-example-2.js"
    @label="component js"
    @language="javascript"
  />
  <demo.snippet
    @name="omitted-fields-example-2.hbs"
    @label="template"
    @language="htmlbars"
  />
</DocsDemo>