<DocsDemo as |demo|>
  <demo.example @name="omitted-fields-example-4.hbs">
    <div data-test-id="omitted-fields-example-4">
      Free drink for members and orders including 3 mains and 3 side dishes!
      <ChangesetWebform @formSchema={{this.formSchema}} />
    </div>
  </demo.example>
  <demo.snippet
    @name="omitted-fields-example-4.js"
    @label="component js"
    @language="javascript"
  />
  <demo.snippet
    @name="omitted-fields-example-4.hbs"
    @label="template"
    @language="htmlbars"
  />
</DocsDemo>