<DocsDemo as |demo|>
  <demo.example @name="omitted-fields-example-1.hbs">
    <div data-test-id="omitted-fields-example-1">
      <ChangesetWebform
        @formSchema={{this.formSchema}}
        @onFieldValueChange={{this.onFieldValueChange}}
      />
      {{#if this.changesetIsValid}}
        <button
          data-test-id="next-button"
          class="btn btn-outline-primary" type="button"
        >Next</button>
      {{/if}}
    </div>
  </demo.example>
  <demo.snippet
    @name="omitted-fields-example-1.js"
    @label="component js"
    @language="javascript"
  />
  <demo.snippet
    @name="omitted-fields-example-1.hbs"
    @label="template"
    @language="htmlbars"
  />
</DocsDemo>