{{#if (and (eq @formField.validationStatus "invalid") @validationErrorsArray)}}
  <div
    id="{{@formField.id}}-errors"
    role="alert"
    {{attrs-from-config "validationErrors" @changesetWebform @formField}}
    data-test-class="cwf-field-errors"
  >
    {{#each @validationErrorsArray as |error|}}
      <div
        {{attrs-from-config "validationError" @changesetWebform @formField}}
        data-test-class="cwf-field-error"
      >{{error}}</div>
    {{/each}}
  </div>
{{/if}}