{{#if @formField.fieldDescription}}
  <div
    id="{{@formField.id}}-description"
    class={{ember-changeset-webforms/dynamic-class-names
      "fieldDescription"
      @changesetWebform
      @formField
    }}
    data-test-class="cwf-field-description"
    ...attributes
  >
    {{@formField.fieldDescription}}
  </div>
{{/if}}