{{! BEGIN-SNIPPET custom-clicker-component.hbs }}
<button
  data-test-class="cwf-clicker-element"
  type="button"
  {{on "click" @onClick}}
  class="btn-{{@props.buttonType}} d-flex"
  ...attributes
>{{@formField.clickerText}}
  <this.icon class="width-lg ms-2" />
</button>
{{! END-SNIPPET}}