<button
  data-test-class="cwf-clicker-element"
  type="button"
  onclick={{@onClick}}
  class={{concat @clickerElementClass " btn-" @props.buttonType " d-flex"}}
>{{@formField.clickerText}}
  <this.icon class="width-lg ms-2" />
</button>