{{! BEGIN-SNIPPET power-select-country-display-component.hbs }}
<span class="power-select-item {{@option}}">{{this.displayCountry}}{{#if
    @extra.selectedItemComponent
  }}&nbsp;&nbsp;{{@extra.selectedItemComponent}}{{/if}}</span>
{{! END-SNIPPET }}