{{! BEGIN-SNIPPET power-select-custom-trigger-component.hbs }}
{{#if (ember-power-select-is-selected-present @select.selected)}}
  <span class="ember-power-select-selected-item">{{yield
      @select.selected
      @select
    }}</span>
{{else}}
  <span class="ember-power-select-placeholder">
    I'm a custom trigger
    {{#if @extra.triggerItemComponent}}<code
        class="ms-2"
      >{{@extra.triggerItemComponent}}</code>{{/if}}
  </span>

{{/if}}
<span class="ember-power-select-status-icon"></span>
{{! END-SNIPPET }}