.cwf-field {
  &.power-select {
    --cwf-field-power-select-max-width: 300px;
    --cwf-field-power-select-option-with-checkbox-padding-y: 0px;
    max-width: var(--cwf-field-power-select-max-width);
  }
}

.power-select-option-with-checkbox {
  font-size: 1em;
  display: flex;
  padding: var(--cwf-field-power-select-option-with-checkbox-padding-y) 0;
}

.ember-power-select-trigger-multiple-input {
  border-color: transparent !important;
}
